samples/2/RICOH_THETA_v2_SDK_for_Android/ricoh-theta-sample-for-androidv2/local.properties
samples/2/RICOH_THETA_v2_SDK_for_Android/ricoh-theta-sample-for-androidv2/.gradle/
samples/2/RICOH_THETA_v2_SDK_for_Android/ricoh-theta-sample-for-androidv2/.idea/
